:host{
    font-family: 'Merriweather';
    .body-content{
        background-color: #eeeff0;
        background-image: url('../assets/img/-13.jpg');
    }

    app-header{
        width: 100%;
    }

}