<div class="wrapper">
    <h2>- 13 féminime</h2>
    <h4 class="title-part">L'ÉQUIPE</h4>
    <div class="equipe-wrapper">
        <img class="photo-equipe" src="../../assets/img/-13.jpg">
        <div class="wrapper">
            <p class="title">Coachs</p>
            <div class="separator"></div>
            <div class="profil-wrapper">
                <img class="profil" src="../../assets/img/profil-vide.png">
                <img class="profil" src="../../assets/img/profil-vide.png">
            </div>
            <p>Dylan FISSON et Xavier BOURLIER</p>
        </div>
    </div>
    <div class="wrapper entrainement-wrapper">
        <p class="title">Entraînements</p>
        <div class="separator"></div>
        <div class="horaire">
            <div>Horaire<p>Lundi: 19h15 - 20h30</p>
                <p>Mercredi: 18h45 - 20h</p></div>
            <div>Entraineur<p class="entraineur">Marie Crumière et Antonin</p></div>
        </div>
    </div>
    <input class="resultat-button" type="button" value="Calendrier et résultats">
    <p class="title-part">REJOINDRE L'ÉQUIPE SUR TEAMPULSE</p>
    <a href="https://play.google.com/store/apps/details?id=com.digitalplumecompany.boostyourteam">  <img src="../../assets/img/logo_team-pulse.svg"></a>
  
</div>