<div class="wrapper">
    <div class="wrapper-titre-equipe">
    <div class="titre-equipe">Moins de 13 féminine</div>
    </div>
    <div class="equipe-wrapper">
        <img class="photo-equipe" src="../../assets/img/-13.jpg">
        <div class="profil-resultat-wrapper">
        <div class="wrapper">
            <p class="title">Coachs</p>
            <div class="separator"></div>
            <div class="profil-wrapper">
                <div>
                    <img class="profil" src="../../assets/img/profil-vide.png">
                </div>
                <div> 
                    <img class="profil" src="../../assets/img/profil-vide.png">
                </div>
            </div>
            <p>Dylan FISSON et Xavier BOURLIER</p>
        </div>
        </div>
    </div>
    <div class="wrapper entrainement-wrapper">
        <p class="title">Entraînements</p>
        <div class="separator"></div>
        <div class="horaire-entraineur-wrapper">
            <div><span class="subtitle">Horaires</span>
                <div class="separator"></div>
                <p>Lundi: 19h15 - 20h30 <br>
                Mercredi: 18h45 - 20h</p></div>
            <div><span class="subtitle">Entraîneurs</span>
                <div class="separator"></div>
                <p class="entraineur">Marie Crumière - Antonin</p></div>
        </div>
    </div>
    <div>
        <p class="title">Calendrier et résultats</p>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.5/iframeResizer.min.js"></script><script>if(!window._rsz){window._rsz=function(){var i=iFrameResize({checkOrigin:false,interval:100});};if(document.readyState!="loading"){_rsz()}else{document.addEventListener("DOMContentLoaded",_rsz)}}</script><iframe id="63069fc98e502f0a2ccc48a4" src="https://scorenco.com/widget/63069fc98e502f0a2ccc48a4/?auto_height=true" style="display: block; width: 100%; overflow: auto; margin: auto; border-width: 0px;" scrolling="no"></iframe><a style="font-size:11px" target="_blank" href="https://scorenco.com/hand/clubs/es-la-suze/">ES la Suze sur Score'n'co</a>
    </div>
</div>