@import '~lightgallery/scss/lightgallery';

html, body {
    min-height: 100%;
    height: auto;
    margin: 0;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
