:host{
    
    .contact{
        height: 250px;
        background-color: #f8f8f9;
        display: flex;
        flex-direction: row;
        justify-content: center;

        .logo-wrapper{
            flex: 1 1 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .logo{
                width: 240px;    
            }
        }
       
        .contact-wrapper{
            padding-top: 50px;
            flex: 1 1 0px;
            display: flex;
            flex-direction: column;
            align-items: center;

        }
        
        .follow-wrapper{
            padding-top: 50px;
            flex: 1 1 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .logo-follow{
                margin: 0 10px;

                &.facebook {
                  width: 25px;      
                }
                &.insta {
                    width: 30px;      
                  }
                  &.tiktok {
                    width: 25px;      
                  }
                  &.twitter {
                    width: 35px;      
                  }
            }
        }

     

        .horizontal-line{
            width: 25px;
            margin: 20px;
            background-color: black;
            border-bottom: 1px solid black;
        }
    }
    .footer-last-bloc{
        height: 50px;
        background-color: rgb(20, 112, 248);
      }
}