:host{

    .wrapper-bloc-infos{
        display:inline-block
    }

    .title{
        color: white;
        font-size: 22px;
        text-align: center;
        font-weight: bold;
        background-color: rgb(20, 112, 248);
    }
}