<h1 class="title">Nous contacter</h1>
<div class="question-wrapper">
    <div class="logo-wrapper">
        <img class="logo" src="../../assets/img/logo.png">
    </div>
    <div class="question-texte">
        <div ><span class="title-question">Vous avez des questions ? </span><br>
            <p class="texte">
                <b>Pour toute question concernant le club de handball&nbsp;:</b> <br>fisson.dylan@gmail.com<br><br>
                <b>Pour toute question concernant le site web&nbsp;:</b> <br>fisson.dylan@gmail.com
            </p>
        </div>
    </div>
</div>
<div class="adresse">
    <div class="adresse-texte">
        <span class="title-adresse">Adresse du gymnase</span>
        <div class="texte-icon">
            <img class="img-adresse" src="../../assets/img/adresse.png">
            <span>Gymnase de la Suze-sur-Sarthe <br>
                Rue des prunus<br>
                72210 La Suze-sur-Sarthe
            </span>
        </div>
    </div>
    <iframe width="800" height="550" style="border:0" loading="lazy" allowfullscreen
        referrerpolicy="no-referrer-when-downgrade" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD8B9viw6hSoUEhCJRAv7f2nQ9C1Qr-bJM
    &q=rue+des+prunus+gymnase+la+suze">
    </iframe>
</div>