<h1 class="title">Envie de nous soutenir ?</h1>
<h1 class="subtitle"> Devenez partenaire du club !</h1>
<div class="contact-wrapper">
    <div class="profil-wrapper">
        <div #card class="card">
            <div class="card-side contact front">
                <img alt="img1" class="photo-contact" src="../../assets/img/profil-vide.png" />
            </div>
            <div class="card-side contact back">
                <h3 class="title-contact">David CHAPIN</h3>
                <p>Téléphone : 06.70.65.56.28 <br>
                Email : blabla@gmail.com</p></div>
          </div></div>
 <div class="bloc-title-wrapper">
 <div class="bloc-title">
    <p>Des questions concernant le sponsoring ? <br> Envie de devenir partenaire ?</p>
    <p class="contact" (mouseover)="addHoverContact()" (mouseout)="removeHoverContact()">Contactez-moi !</p>
 </div>   
</div>
</div>
<h1 class="title">Ils nous ont déjà rejoints</h1>
    <div class="wrapper">
        <div class="card">
            <div class="card-side front">
                <img alt="img1" class="photo" src="../../assets/img/-13.jpg" />
            </div>
            <div class="card-side back">
                <h3 class="title">Nom de l'entreprise</h3>
                <p>Description des activités de l'entreprise. On peut mettre plusieurs lignes. Description des activités de l'entreprise. On peut mettre plusieurs lignes</p></div>
          </div> <div class="card">
            <div class="card-side front">
                <img alt="img1" class="photo" src="../../assets/img/-13.jpg" />
            </div>
            <div class="card-side back">
                <h3 class="title">Nom de l'entreprise</h3>
                <p>Description des activités de l'entreprise. On peut mettre plusieurs lignes. Description des activités de l'entreprise. On peut mettre plusieurs lignes</p></div>
          </div> <div class="card">
            <div class="card-side front">
                <img alt="img1" class="photo" src="../../assets/img/-13.jpg" />
            </div>
            <div class="card-side back">
                <h3 class="title">Nom de l'entreprise</h3>
                <p>Description des activités de l'entreprise. On peut mettre plusieurs lignes. Description des activités de l'entreprise. On peut mettre plusieurs lignes</p></div>
          </div> <div class="card">
            <div class="card-side front">
                <img alt="img1" class="photo" src="../../assets/img/-13.jpg" />
            </div>
            <div class="card-side back">
                <h3 class="title">Nom de l'entreprise</h3>
                <p>Description des activités de l'entreprise. On peut mettre plusieurs lignes. Description des activités de l'entreprise. On peut mettre plusieurs lignes</p></div>
          </div>
          
      <div class="card">
        <div class="card-side front">
            <img alt="img1" class="photo" src="../../assets/img/-13.jpg" />
        </div>
        <div class="card-side back">
            <h3 class="title">Nom de l'entreprise</h3>
            <p>Description des activités de l'entreprise. On peut mettre plusieurs lignes. Description des activités de l'entreprise. On peut mettre plusieurs lignes</p></div>
      </div>
      <div class="card">
        <div class="card-side front">
            <img alt="img1" class="photo" src="../../assets/img/-13.jpg" />
        </div>
        <div class="card-side back">
            <h3 class="title">Nom de l'entreprise</h3>
            <p>Description des activités de l'entreprise. On peut mettre plusieurs lignes. Description des activités de l'entreprise. On peut mettre plusieurs lignes</p></div>
      </div>
      <div class="card">
        <div class="card-side front">
            <img alt="img1" class="photo" src="../../assets/img/-13.jpg" />
        </div>
        <div class="card-side back">
            <h3 class="title">Nom de l'entreprise</h3>
            <p>Description des activités de l'entreprise. On peut mettre plusieurs lignes. Description des activités de l'entreprise. On peut mettre plusieurs lignes</p></div>
      </div>
      <div class="card">
        <div class="card-side front">
            <img alt="img1" class="photo" src="../../assets/img/-13.jpg" />
        </div>
        <div class="card-side back">
            <h3 class="title">Nom de l'entreprise</h3>
            <p>Description des activités de l'entreprise. On peut mettre plusieurs lignes. Description des activités de l'entreprise. On peut mettre plusieurs lignes</p></div>
      </div>
      <div class="card">
        <div class="card-side front">
            <img alt="img1" class="photo" src="../../assets/img/-13.jpg" />
        </div>
        <div class="card-side back">
            <h3 class="title">Nom de l'entreprise</h3>
            <p>Description des activités de l'entreprise. On peut mettre plusieurs lignes. Description des activités de l'entreprise. On peut mettre plusieurs lignes</p></div>
      </div>
      <div class="card">
        <div class="card-side front">
            <img alt="img1" class="photo" src="../../assets/img/-13.jpg" />
        </div>
        <div class="card-side back">
            <h3 class="title">Nom de l'entreprise</h3>
            <p>Description des activités de l'entreprise. On peut mettre plusieurs lignes. Description des activités de l'entreprise. On peut mettre plusieurs lignes</p></div>
      </div>
      <div class="card">
        <div class="card-side front">
            <img alt="img1" class="photo" src="../../assets/img/-13.jpg" />
        </div>
        <div class="card-side back">
            <h3 class="title">Nom de l'entreprise</h3>
            <p>Description des activités de l'entreprise. On peut mettre plusieurs lignes. Description des activités de l'entreprise. On peut mettre plusieurs lignes</p></div>
      </div>
      <div class="card">
        <div class="card-side front">
            <img alt="img1" class="photo" src="../../assets/img/-13.jpg" />
        </div>
        <div class="card-side back">
            <h3 class="title">Nom de l'entreprise</h3>
            <p>Description des activités de l'entreprise. On peut mettre plusieurs lignes. Description des activités de l'entreprise. On peut mettre plusieurs lignes</p></div>
      </div>
      <div class="card">
        <div class="card-side front">
            <img alt="img1" class="photo" src="../../assets/img/-13.jpg" />
        </div>
        <div class="card-side back">
            <h3 class="title">Nom de l'entreprise</h3>
            <p>Description des activités de l'entreprise. On peut mettre plusieurs lignes. Description des activités de l'entreprise. On peut mettre plusieurs lignes</p></div>
      </div>
      <div class="card">
        <div class="card-side front">
            <img alt="img1" class="photo" src="../../assets/img/-13.jpg" />
        </div>
        <div class="card-side back">
            <h3 class="title">Nom de l'entreprise</h3>
            <p>Description des activités de l'entreprise. On peut mettre plusieurs lignes. Description des activités de l'entreprise. On peut mettre plusieurs lignes</p></div>
      </div>
</div>