<img class="logo" src="../../assets/img/logo.png">
<div class="header-first-bloc">
  <div class="contact item" [routerLink]="['/contact']" (click)="active($event)">Contact</div>
</div>
<div id="navbar">
  <div class="active item" (click)="active($event)">Le club<span class="separator"></span></div>
  <div class="item" (click)="active($event)">Les équipes<span class="separator"></span></div>
  <div class="item" (click)="active($event)">Souvenirs<span class="separator"></span></div>
  <div class="item" (click)="active($event)">Les sponsors</div>
</div>